
body {
    font-family: 'Josefin Sans', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container--pokemons {
    display: flex;
    justify-content: space-evenly;
    gap: 1.875rem;
}
.card {
    background-image: radial-gradient(#FAD961 0%, #F76B1C 100%);
    max-width: 18.75rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1.25rem .625rem 0px .625rem;
    text-align: center;
    border-radius: 25px;
}

.card--title {
    font-family: 'Comic Neue', cursive;
    color: #fefefe;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}
.container--img {
    position: relative;
    height: 15.625rem;
    width: 18.75rem;
    object-fit: cover;
}

.card--img{
    top: 1.875rem;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    height: 15.625rem;

}

.floating--icon {
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    bottom: 15px;
    left: 0;
    filter: opacity(0.2);
    
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

nav h3 {
    font-size: .8125rem;
    color: #999;
    cursor: pointer;
}

.selected {
    color: #333;
    text-decoration: underline;
}


.card--details {
    border-radius: 20px 20px 23px 23px;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
    background-color: white;
    padding: 3.5rem 1.25rem 0rem 1.25rem;
    color: #333;
    font-size: .9375rem;
}

.container--stats {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: flex-start;
    align-items: center;
    column-gap: .75rem;
    row-gap: .625rem;
}

div[class*="bar"] {
    
    width: 100%;
    height: .625rem;
    border-radius: 50px;
}

div[class*="fill"] {
    border-radius: inherit;
    height: inherit;
    background-color: #facc15;
}

.container--btns {
    display: flex;
    justify-content: center;
}

/* CSS Buttons APP */

.bn632-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3125rem;
    width: 7.5rem;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 1.25rem;
    height: 2.6rem;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover {
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
    /* box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
  }